/*
  1. Use a more-intuitive box-sizing model.
*/
*, *::before, *::after {
    box-sizing: border-box;
  }
  /*
    2. Remove default margin
  */
  * {
    margin: 0;
  }
  /*
    Typographic tweaks!
    3. Add accessible line-height
    4. Improve text rendering
  */
  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
  }
  /*
    5. Improve media defaults
  */
  /* img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  } */
  /*
    6. Remove built-in form typography styles
  */
  input, button, textarea, select {
    font: inherit;
  }
  /*
    7. Avoid text overflows
  */
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }


body{
  height: 100%;
    background-image: url(/assets/images/background.jpg);
    background-attachment: fixed;
    font-family: Oswald;
  }

  html {
    scroll-behavior: smooth;
    height: 100%;
  }

  /* TOP NAV */
.fixednav {
  position: fixed;
  width: 100%;
}

  header{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background-color: #e71b22;
    height: calc(120px - 1vw);
  }
.main-nav ul {
  width: 100%;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    justify-content: flex-end;
    padding: 0;
    
}

.main-nav li {
    margin: 1.5vw;
    padding: calc(5px + 0.8vw);
    text-transform: uppercase;
    font-weight: 700;
    border-radius: 2px;
    box-shadow: 6px 6px 6px #b3151a;
    text-align: center;
    
}

@media (hover: hover){

  .main-nav li:hover{
    background-color: #b3151a;
    transform: scale(1.1);
    transform: rotate(5deg);
}
}
@media (any-pointer: coarse){

  .main-nav li:active{
    background-color: #b3151a;
    transform: scale(1.1);
    transform: rotate(5deg);
    
}

}

.main-nav a{
    text-decoration: none;
    color: #fffce1;

}

      /* WELCOME BANNER */


 #intro {
  padding-top: calc(120px - 1vw);;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
  height: 100dvh;
}
#intro > * {
    display: grid;
    place-items: center;
}

#intro h1 {
  color: #fffce1;
  background-color: #1B105B;
  font-size: clamp(1.88rem, 4vw, 4.5vw);
  text-align: center;
  text-shadow: 2px 2px 5px #e71b22;
}

#intro p {
  color: #fffce1;
  background-color: #0E063D;
  font-size: clamp(1.88rem, 4vw, 4.5vw);
  padding: 0 calc(34px - 1vw) 0;
  text-align: center;
  text-shadow: 2px 2px 3px #15f2fd;
}


      /* HOW TO PLAY */


#howtoplay {
  color: #fffce1;
  height: calc(100dvh - calc(120px - 1vw));
  scroll-margin-top: calc(119px - 1vw);
  display: grid;
  grid-template-columns: 1fr 1.5fr 1.5fr;
}

#howtoplay > * {
  display: flex;
  justify-content: space-around;
  place-items: center;
  text-transform: uppercase;
}

#howtoplay div {
  margin: 2%;
  border-radius: 10px;
  /* margin: 10vw 7% 10vw 7%; */
}
#howtoplay h2{
  font-weight: 900;
  color: #fffce1;
  background-color: #e71b22;
  font-size: clamp(3rem, 4vw, 4.5vw);
}

#howtoplay a{
  border-bottom: 3px solid rgba(255, 252, 225, 0);
  box-shadow: 0 4px 3px -3px #15f2fd;
  font-size: clamp(3rem, 4vw, 4.5vw);
  color: #fffce1;
  text-shadow: 2px 2px 3px #15f2fd;
}

@media (hover: hover){
  #howtoplay a:hover {
    transform: scale(2);
    text-shadow: 2px 2px 3px #e71b22;
    box-shadow: 0 4px 2px -2px #e71b22;
  }
}
@media (any-pointer: coarse){
  #howtoplay a:active {
    transform: scale(1.2);
    text-shadow: 2px 2px 3px #e71b22;
    box-shadow: 0 4px 2px -2px #e71b22;
  }
}

#howtoplay p {
  text-align: center;
  font-weight: 600;
  text-shadow: 2px 2px 3px #e71b22;
  font-size: clamp(3rem, 2vw, 4.5vw);
}

.read{
  background: #0E063D;
  text-shadow: 2px 2px 3px #15f2fd;
}

.watch{
  background: #1B105B;
  text-shadow: 2px 2px 5px #e71b22;
}


      /* TRY IT OUT */


#tryitout {
  color: #fffce1;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr 3fr;
  height: calc(100dvh - calc(119px - 1vw));
  scroll-margin-top: calc(119px - 1vw);
}

#tryitout > * {
  display: grid;
  place-items: center;
}
#tryitout h2{
  grid-column: span 3;
  font-weight: 900;
  color: #fffce1;
  background-color: #e71b22;
  font-size: clamp(3rem, 4vw, 4.5vw);
  text-transform: uppercase;
}


#tryitout div {
  margin: 2%;
  border-radius: 10px;
}
#tryitout a {
  margin-bottom: 10px;
  box-shadow: 0 4px 3px -3px #15f2fd;
  font-size: clamp(3rem, 4vw, 4.5vw);
  color: #fffce1;
  text-shadow: 2px 2px 3px #15f2fd;
}

@media (hover: hover){
  #tryitout a:hover {
    transform: scale(2);
    text-shadow: 2px 2px 3px #e71b22;
    box-shadow: 0 4px 2px -2px #e71b22;
  }
}
@media (any-pointer: coarse){
  #tryitout a:active {
    transform: scale(1.2);
    text-shadow: 2px 2px 3px #e71b22;
    box-shadow: 0 4px 2px -2px #e71b22;
  }
}

#tryitout p {
  text-align: center;
  font-weight: 600;
  text-shadow: 2px 2px 3px #e71b22;
  font-size: clamp(1.2rem, 2vw, 4.5vw);
  text-transform: uppercase;
}

.felt, .print{
  background: #0E063D;
}

.tts {
  background: #1B105B;
}


footer {
  margin-top: 50px;
  color: #fffce1;
  text-align: center;
  background: rgba(231, 27, 34, 0.3);
}
/* MEDIA QUERIES */


 @media screen and (max-width: 1200px){
  #howtoplay {
    grid-template-columns: 1fr;
}
  #tryitout {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
  }
  #tryitout div {
    grid-column: span 1 / 2;
  }
 }
/*
@media screen and (max-width: 960px) {
  #howtoplay{
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1.5fr 1.5fr;
  }
  #howtoplay h2{
    grid-row: span 1;
    grid-column: span 1;
    }
} */

/*
 #intro {
    display: flex;
    height: calc(100vh - 10vw);
    /* margin-top: 10vw; 
  
  }

#intro p, h1 {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 5%;
}

#intro p {
  font-size: 30px;
  min-width: 200px;
  background-color: #0E063D;
  text-transform: uppercase;
  color: whitesmoke;
}
#intro h1 {
  flex:;
  font-size: clamp(2.2vw, 2.8vw, 3vw);
  background-color: #1B105B;
  text-transform: uppercase;
  color: #FBA509;
  text-align: center;
  line-height: 100px;
  min-width: 400px;
}
#intro hr{
  border: 5px solid red;
}




  #howtoplay {
    background-color: green;
  }


  @media screen and (max-width: 760px) {
    
    #intro{
      flex-wrap: wrap;
    }
  } */